.contactContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.InputContent {
    width: 15rem;
    height: 5rem;
}

.labelForm {
    margin: 2rem 0 2rem 0;
}

.errorMessage {
color: #FF0000;
}

.TextContent {
    margin: 1rem 0;
    height: 5rem;
    width: 25rem;
    border: #000000 solid 1px;
}

.inputField {
    width: 15rem;
    border: #000000 solid 1px;
}

.SubmitBtn {
    margin-bottom: 1rem;
}